.banner3-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.banner3-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
.banner3-max-width {
  gap: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.banner3-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.banner3-title {
  text-align: center;
  font-family: "Arial";
}
.banner3-text {
  text-align: center;
  font-family: "Arial";
}
.banner3-link {
  width: 136px;
  height: 49px;
  border-color: #ffffff;
  text-decoration: none;
  background-color: #0826bf;
}
.banner3-root-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}

.banner31-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.banner31-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
.banner31-max-width {
  gap: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.banner31-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.banner31-title {
  color: #ffffff;
  text-align: center;
  font-family: "Arial";
  border-color: #2b94d0;
  border-width: 4px;
  background-color: #2d2c2c;
}
.banner31-text {
  color: #ffffff;
  text-align: center;
  font-family: "Arial";
  border-color: #2b94d0;
  border-width: 4px;
  background-color: #2f2c2c;
}
.banner31-link {
  width: 136px;
  height: 51px;
  border-color: #ffffff;
  text-decoration: none;
  background-color: #1f1d1c;
}

.banner32-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.banner32-max-width {
  gap: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.banner32-container1 {
  gap: var(--dl-space-space-halfunit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}

.team7-max-width {
  gap: var(--dl-space-space-fiveunits);
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.team7-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team7-content {
  gap: 24px;
  width: 1086px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-text {
  color: #985e0a;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #a37a7a;
  text-align: center;
  font-family: "Arial Black";
  border-color: #bb8024;
  border-style: dashed;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  text-transform: uppercase;
}
.team7-content1 {
  gap: 48px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}
.team7-card {
  gap: 24px;
  width: 290px;
  height: 361px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-placeholder-image {
  width: 212px;
  height: 226px;
  align-self: center;
  border-radius: var(--dl-radius-radius-imageradius);
}
.team7-content2 {
  gap: var(--dl-space-space-unit);
  width: 237px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team7-title {
  width: 322px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team7-text01 {
  color: #984d16;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team7-text02 {
  color: #df6b1a;
  font-size: 20px;
  text-align: center;
  font-family: "Arial Black";
}
.team7-social-icons {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team7-card1 {
  gap: 24px;
  width: 254px;
  height: 356px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-placeholder-image1 {
  width: 220px;
  height: 219px;
  align-self: center;
  border-radius: var(--dl-radius-radius-imageradius);
}
.team7-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-title1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-text03 {
  fill: #984d16;
  color: #984d16;
  font-size: 24px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team7-text04 {
  fill: #df6b1a;
  color: #df6b1a;
  font-size: 20px;
  text-align: center;
  font-family: "Arial Black";
}
.team7-social-icons1 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team7-card2 {
  gap: 24px;
  width: 280px;
  height: 373px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-placeholder-image2 {
  width: 228px;
  height: 232px;
  align-self: center;
  border-radius: var(--dl-radius-radius-imageradius);
}
.team7-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-title2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team7-text05 {
  fill: #984d16;
  color: #984d16;
  font-size: 24px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team7-text06 {
  fill: #df6b1a;
  color: #df6b1a;
  font-size: 20px;
  text-align: center;
  font-family: "Arial Black";
}
.team7-social-icons2 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team7-card3 {
  gap: 24px;
  width: 299px;
  height: 369px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-placeholder-image3 {
  width: 215px;
  height: 225px;
  align-self: center;
  border-radius: var(--dl-radius-radius-imageradius);
}
.team7-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-title3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-text07 {
  fill: #984d16;
  color: #984d16;
  font-size: 24px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team7-text08 {
  fill: #df6b1a;
  color: #df6b1a;
  font-size: 20px;
  text-align: center;
  font-family: "Arial Black";
}
.team7-social-icons3 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team7-card4 {
  gap: 24px;
  width: 333px;
  height: 369px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-placeholder-image4 {
  width: 238px;
  height: 230px;
  align-self: center;
  border-radius: var(--dl-radius-radius-imageradius);
}
.team7-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-title4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-text09 {
  fill: #984d16;
  color: #984d16;
  font-size: 24px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
}
.team7-text10 {
  fill: #df6b1a;
  color: #df6b1a;
  font-size: 20px;
  text-align: center;
  font-family: "Arial Black";
}
.team7-social-icons4 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team7-card5 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-social-icons5 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team7-content7 {
  gap: 24px;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
}
.team7-content8 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-image {
  width: 50px;
  object-fit: cover;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text {
  border-color: #be6108;
  border-style: dashed;
  border-width: 4px;
}
.home-text01 {
  margin-left: 32px;
  border-color: #be6108;
  border-style: dashed;
  border-width: 4px;
}
.home-text02 {
  margin-left: 32px;
  border-color: #be6108;
  border-style: dashed;
  border-width: 4px;
}
.home-text03 {
  margin-left: 32px;
  border-color: #be6108;
  border-style: dashed;
  border-width: 4px;
}
.home-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: 16px;
  height: 16px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-logo1 {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: 16px;
  height: 16px;
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  margin-right: 32px;
}
.home-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon08 {
  width: 16px;
  height: 16px;
}
.home-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu1 {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.home-icon10 {
  width: 36px;
  height: 36px;
}
.home-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-top1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-image1 {
  width: 50px;
  object-fit: cover;
}
.home-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon12 {
  width: 24px;
  height: 24px;
}
.home-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link3 {
  text-decoration: none;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.home-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon18 {
  width: 24px;
  height: 24px;
}
.home-hero {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-hero-text-container {
  width: 35%;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.home-heading {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text09 {
  color: rgb(168, 86, 8);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-cta-btn1 {
  left: 7px;
  color: var(--dl-color-gray-white);
  bottom: -66px;
  position: absolute;
  align-self: stretch;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #ca840d;
}
.home-cta-btn2 {
  color: var(--dl-color-gray-white);
  right: 78px;
  bottom: -65px;
  position: absolute;
  align-self: stretch;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: #ca840d;
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #ca840d;
}
.home-image2 {
  width: 572px;
  height: 340px;
  align-self: center;
  object-fit: contain;
  margin-right: var(--dl-space-space-unit);
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-features {
  width: 100%;
  height: 240px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  background-color: #f1e3c8;
}
.home-heading-container {
  width: 1120px;
  height: 124px;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text10 {
  color: rgb(168, 86, 8);
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text11 {
  align-self: center;
}
.home-link4 {
  text-decoration: underline;
}
.home-link5 {
  text-decoration: underline;
}
.home-link6 {
  text-decoration: underline;
}
.home-link7 {
  text-decoration: underline;
}
.home-link8 {
  text-decoration: underline;
}
.home-services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-service-card {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-container3 {
  width: 482px;
  height: 300px;
}
.home-container4 {
  display: contents;
}
.home-service-card1 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-card-content {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text16 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text17 {
  color: #a85608;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text19 {
  font-size: 16px;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-button {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: rgb(202, 132, 13);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-contact {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column-reverse;
  }
  .home-hero-text-container {
    width: 80%;
    margin-left: 0px;
  }
  .home-cta-btn1 {
    width: 40%;
  }
  .home-cta-btn2 {
    width: 40%;
  }
  .home-image2 {
    width: 80%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text04 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-burger-menu1 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .home-heading {
    text-align: center;
  }
  .home-text09 {
    text-align: center;
  }
  .home-cta-btn1 {
    width: auto;
    align-self: center;
  }
  .home-cta-btn2 {
    width: auto;
    align-self: center;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-card-content {
    margin: 0px;
  }
  .home-contact {
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-burger-menu1 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-hero-text-container {
    width: 100%;
  }
  .home-image2 {
    width: 100%;
  }
  .home-service-card {
    width: 100%;
  }
  .home-service-card1 {
    width: 100%;
  }
}
