.team141-max-width {
  gap: 32px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team141-content {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-text {
  color: #c97010;
  font-size: 48px;
  box-shadow: 5px 5px 10px 0px #b98d8d;
  font-family: "Arial Black";
  text-transform: uppercase;
  background-color: var(--dl-color-theme-accent2);
}
.team141-slider {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  align-self: center;
}
.team141-slider-slide {
  gap: 24px;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}
.team141-card {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-placeholder-image {
  background-size: cover;
  background-image: url("public/puntooda-1500w.jpg");
}
.team141-content01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.team141-title {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-text01 {
  color: #7c4408;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 900;
  text-transform: uppercase;
}
.team141-text02 {
  overflow: auto;
  max-height: 144px;
  text-align: left;
  font-family: "Arial Black";
}
.team141-social-icons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-card01 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-content02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-title01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-text03 {
  fill: #7c4408;
  color: #7c4408;
  font-size: 18px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team141-text04 {
  overflow: auto;
  font-size: 16px;
  font-style: normal;
  max-height: 144px;
  text-align: left;
  font-family: "Arial Black";
  font-weight: 700;
}
.team141-social-icons01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-card02 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-content03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-title02 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-text05 {
  fill: #7c4408;
  color: #7c4408;
  font-size: 18px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team141-text06 {
  overflow: auto;
  max-height: 144px;
  text-align: left;
  font-family: "Arial Black";
}
.team141-social-icons02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-card03 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-content04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-title03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-text07 {
  fill: #7c4408;
  color: #7c4408;
  font-size: 18px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team141-text08 {
  overflow: auto;
  max-height: 144px;
  text-align: left;
  font-family: "Arial Black";
}
.team141-social-icons03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-slider-slide01 {
  gap: 24px;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}
.team141-card04 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-placeholder-image04 {
  background-size: cover;
  background-image: url("public/megneko-1500w.jpg");
}
.team141-content05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-title04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-text09 {
  fill: #7c4408;
  color: #7c4408;
  font-size: 18px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team141-text10 {
  text-align: center;
}
.team141-text12 {
  overflow: auto;
  max-height: 144px;
  text-align: left;
  font-family: "Arial Black";
}
.team141-social-icons04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-card05 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-content06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-title05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-text14 {
  font-style: normal;
  font-weight: 600;
}
.team141-text16 {
  text-align: center;
}
.team141-text17 {
  overflow: auto;
  max-height: 144px;
  text-align: left;
}
.team141-social-icons05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-card06 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-content07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-title06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-text18 {
  font-style: normal;
  font-weight: 600;
}
.team141-text20 {
  text-align: center;
}
.team141-text21 {
  overflow: auto;
  max-height: 144px;
  text-align: left;
}
.team141-social-icons06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-card07 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-content08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-title07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team141-text23 {
  font-style: normal;
  font-weight: 600;
}
.team141-text24 {
  text-align: center;
}
.team141-text25 {
  overflow: auto;
  max-height: 144px;
  text-align: left;
}
.team141-social-icons07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-slider-pagination {
  display: block;
}
.team141-slider1 {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
}
.team141-slider-slide02 {
  gap: 24px;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}
.team141-card08 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-content09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-title08 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-text26 {
  color: #7c4408;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 900;
  text-transform: uppercase;
}
.team141-text28 {
  text-align: center;
}
.team141-text29 {
  overflow: auto;
  max-height: 96px;
  text-align: center;
  font-family: "Arial Black";
}
.team141-social-icons08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-slider-slide03 {
  gap: 24px;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}
.team141-card09 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-content10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-title09 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-text30 {
  fill: #7c4408;
  color: #7c4408;
  font-size: 18px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team141-text31 {
  text-align: center;
}
.team141-text32 {
  overflow: hidden;
  font-size: 16px;
  font-style: normal;
  max-height: 96px;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
}
.team141-social-icons09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-slider-slide04 {
  gap: 24px;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}
.team141-card10 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-content11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-title10 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-text33 {
  fill: #7c4408;
  color: #7c4408;
  font-size: 18px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team141-text34 {
  text-align: center;
}
.team141-text35 {
  overflow: auto;
  max-height: 96px;
  text-align: center;
  font-family: "Arial Black";
}
.team141-social-icons10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-slider-slide05 {
  gap: 24px;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}
.team141-card11 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-content12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-title11 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-text36 {
  fill: #7c4408;
  color: #7c4408;
  font-size: 18px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team141-text37 {
  text-align: center;
}
.team141-text38 {
  overflow: auto;
  max-height: 96px;
  text-align: center;
  font-family: "Arial Black";
}
.team141-social-icons11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-slider-slide06 {
  gap: 24px;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}
.team141-card12 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-content13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-title12 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-text39 {
  fill: #7c4408;
  color: #7c4408;
  font-size: 18px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 600;
  text-transform: uppercase;
}
.team141-text40 {
  text-align: center;
}
.team141-text41 {
  overflow: hidden;
  max-height: 96px;
  text-align: center;
  font-family: "Arial Black";
}
.team141-social-icons12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-slider-slide07 {
  gap: 24px;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}
.team141-card13 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-content14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-title13 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-text42 {
  font-style: normal;
  font-weight: 600;
}
.team141-text43 {
  text-align: center;
}
.team141-text44 {
  overflow: auto;
  max-height: 96px;
  text-align: center;
}
.team141-social-icons13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-slider-slide08 {
  gap: 24px;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}
.team141-card14 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-content15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-title14 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-text45 {
  font-style: normal;
  font-weight: 600;
}
.team141-text46 {
  text-align: center;
}
.team141-text47 {
  overflow: auto;
  max-height: 96px;
  text-align: center;
}
.team141-social-icons14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-slider-slide09 {
  gap: 24px;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}
.team141-card15 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-content16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-title15 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team141-text48 {
  font-style: normal;
  font-weight: 600;
}
.team141-text49 {
  text-align: center;
}
.team141-text50 {
  overflow: auto;
  max-height: 96px;
  text-align: center;
}
.team141-social-icons15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team141-slider-pagination1 {
  display: block;
}
@media(max-width: 767px) {
  .team141-max-width {
    padding: 48px;
  }
  .team141-slider {
    display: none;
  }
  .team141-slider1 {
    display: block;
  }
}
@media(max-width: 479px) {
  .team141-max-width {
    padding: 24px;
  }
  .team141-text {
    text-align: center;
  }
}
